@import './barajas.css';
@import './button.css';
.main {
    inline-size: 100%;
    max-inline-size: 100%;
    min-block-size: 100vh;
    background: radial-gradient(ellipse, #0a810a 0%, #000000 115%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}